@font-face {
  font-family: 'SeasonSans';
  src: url('fonts/SeasonSans-Regular.woff') format('woff'),
       url('fonts/SeasonSans-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SeasonSans';
  src: url('fonts/SeasonSans-Medium.woff') format('woff'),
       url('fonts/SeasonSans-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
