.link {
  @extend .navbar-item;
  margin: 0;
}

.info { // also used for team accordion
  max-height: 0;
  transition: max-height .3s ease;
  overflow: hidden;
  padding: 0;

  &.open {
    max-height: 800px;
    margin-bottom: 3rem;
    &.column {
      padding: 0.75rem;
    }
  }
}
