.person {
  position: relative;

  .hover {
    color: $white;
    transition: .4s cubic-bezier(.215,.61,.355,1);
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    right: 0.75rem;
    bottom: 0.75rem;
    background: #1f1f1f;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin-bottom: 6px;
    &:active {
      opacity: 1;
    }

    @media (hover) {
      &:hover {
        opacity: 1;
      }
    }
  }
}

.info {
  max-height: 0;
  transition: max-height .3s ease;
  overflow: hidden;
  padding: 0;

  &.open {
    max-height: 1200px;
    margin-bottom: 3rem;
    &.column {
      padding: 0.75rem;
    }
  }
}
