////////////////////////////////////////////////
// LUX
// https://github.com/jenil/bulmaswatch/tree/gh-pages/lux
////////////////////////////////////////////////
$grey: #7f888f;
$grey-light:   lighten($grey, 10%);
$grey-lighter: lighten($grey, 20%);

$green:        #4BBF73;
$blue:         #1F9BCF;
$red:          #d9534f;

$primary: #fff !default;
$dark:  #222;
$link: $grey;

$family-sans-serif: "OakesGrotesk", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$body-size: 16px;

$radius: 0;
$radius-small: $radius;

$navbar-height: 5rem;
$navbar-background-color: #fff; // $primary;
$navbar-item-color: $grey; // $grey;
$navbar-item-hover-color: $dark; // #fff;
$navbar-item-active-color: $dark; // #fff;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-background-color: transparent;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-background-color: #fff; // $primary;
$navbar-dropdown-border-top: 1px solid lighten($dark, 10);
$navbar-divider-background-color: lighten($dark, 10);
$navbar-dropdown-item-active-color: #fff;
$navbar-dropdown-item-hover-color: $grey-lighter;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;

$box-shadow: 0 0 0 1px $grey-lighter;

$card-shadow: none;

$hr-margin: 3rem 0;