@import "variables";

// @import "../../node_modules/bulma/bulma";
// Import only what you need from Bulma
@import "../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../node_modules/bulma/sass/base/_all.sass";
// @import "../../node_modules/bulma/sass/components/card.sass";
@import "../../node_modules/bulma/sass/components/navbar.sass";
// @import "../../node_modules/bulma/sass/elements/button.sass";
@import "../../node_modules/bulma/sass/elements/container.sass";
@import "../../node_modules/bulma/sass/elements/content.sass";
@import "../../node_modules/bulma/sass/elements/icon.sass";
// @import "../../node_modules/bulma/sass/elements/other.sass";
@import "../../node_modules/bulma/sass/grid/columns.sass";
@import "../../node_modules/bulma/sass/grid/tiles.sass";
@import "../../node_modules/bulma/sass/layout/footer.sass";
@import "../../node_modules/bulma/sass/layout/section.sass";
@import "../../node_modules/bulma/sass/layout/hero.sass";

@import "navbar-item";
@import "mobile-layout";

body {
  font-weight: 300;
  letter-spacing: 0.8px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

i.fa-5x { // § icon
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  font-family: serif;
}

.navbar {
  .navbar-link,
  .navbar-item {
    text-transform: uppercase;
    font-weight: bold;
  }

  .has-dropdown .navbar-item {
    text-transform: none;
  }

  strong {
    color: $white;
  }

  @include touch {
    .navbar-menu {
      background-color: $primary;
      border-radius: $radius;
    }
  }
}

.hero.is-fullheight-with-navbar {
  background-image: linear-gradient(to bottom, $white, transparent), url('/images/jesus-kiteque-224069-unsplash.jpg');
  background-position: bottom center;
  background-size: cover;
  .hero-body {
    align-items: baseline;
  }
}

img.is-pulled-left, img.is-pulled-right {
  margin-bottom: 3rem;
  width: 20%;
}
img.is-pulled-left {
  margin-right: 2rem;
}
img.is-pulled-right {
  margin-left: 2rem;
}

.tile > a {
  display: block;
  position: relative;

  background-color: $grey-darker;
  margin-bottom: 1em;
  min-height: 220px;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;

  color: $white;
  h2 {
    color: $white;
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
  }

  &::before,
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, .1);
    content: '';
    pointer-events: none;
  }

  &::before {
    transform-origin: left top;
  }

  &::after {
    transform-origin: right bottom;
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      transform: scale3d(1, 1, 1);
    }
  }
}

.info {
  max-height: 0px;
  transition: max-height .3s ease;
  overflow: hidden;
}
