---
title: "Steuerberatung in Salzburg & Wien"
description: "Wir bieten Ihnen maßgeschneiderte Lösungen für Ihr Unternehmen an. Neben der Erstellung von Steuererklärungen sowie der laufenden steuerlichen Beratung fokussieren wir uns auf folgende Kernbereiche: Unternehmensgründungen (Start-Ups), Buchhaltung, Unternehmensberatung und Steueroptimierung"
---
<% content_for :hero do %>
 <video autoplay muted loop playsinline preload="auto" class="hero-logo">
  <source src="/videos/freshtax_3d_full360.mp4" type="video/mp4">
</video>
  <h1>Getting tax done!</h1>
  <p>Steuerberater & Wirtschaftstreuhänder</p>
  <p>Wien - Salzburg</p>
<% end %>
