---
title: FreshTax - Steuerberater für Start-Ups
---

<h1 class="has-text-centered">Steuerberater & Wirtschafts<wbr>treuhänder</h1>
<h1 class="has-text-centered is-size-7">FreshTax</h1>

<p>&nbsp;</p>

<div class="columns is-mobile is-centered is-vcentered">
  <div class="column is-one-quarter">

    <!-- <img src="/images/logo.jpg" alt="FreshTax Logo" title="FreshTax Logo"> -->
    <img src="/images/adam-mogyoro.jpg" alt="FreshTax Logo" title="FreshTax Logo">

  </div>
  <div class="column is-two-quarters-tablet is-one-third-desktop is-size-5 is-size-6-mobile">

    <ul>
      <li>Hilfe bei Gründung von Start-Ups</li>
      <li>Begleitung von Start-Ups</li>
      <li>Kostenlose Erstberatung</li>
    </ul>

    &nbsp;&nbsp;&nbsp;<a href="/leistungen" class="has-text-weight-bold"><span class="icon"><i class="fas fa-angle-double-right"></i></span> Zu allen Leistungen</a>

  </div>
</div>


<% content_for :hero do %>
  <h3>Vertrauen und Sicherheit in Ihren steuerlichen Angelegenheiten</h3>
  <p>Ihr Vorteil ist unsere Erfahrung in der Steuerberatung. Wir hören Ihnen zu. Nur wer zuhören kann, kann auch verstehen. Wir sind immer für Sie erreichbar für Ihre Anliegen. Wir sprechen Ihre Sprache. Bei uns werden sie nicht weitergereicht an Mitarbeiter. <a href="/team">Adam Mogyoro</a> kennt jeden Aspekt Ihrer steuerlichen Angelegenheiten persönlich und ist Ihr direkter Ansprechpartner.</p>
<% end %>