---
title: Steuerberatung
description: "Wir bieten Ihnen maßgeschneiderte Lösungen für Ihr Unternehmen an. Neben der Erstellung von Steuererklärungen sowie der laufenden steuerlichen Beratung fokussieren wir uns auf folgende Kernbereiche: Unternehmensgründungen (Start-Ups), Buchhaltung, Unternehmensberatung und Steueroptimierung"
---

<% content_for :hero do %>

  <svg version="1.1"
     xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
     x="0px" y="0px" width="208px" height="208px" viewBox="0 0 208 208" enable-background="new 0 0 208 208" xml:space="preserve">
    <defs></defs>
    <circle fill="#020304" cx="103.913" cy="103.913" r="103.913"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="77.303" y1="144.071" x2="195.736" y2="77.038"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="48.176" y1="146.654" x2="138.894" y2="93.626"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="3" stroke-linecap="round" stroke-miterlimit="10" x1="12.225" y1="121.634" x2="154.054" y2="41.36"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="62.796" y1="158.735" x2="62.796" y2="93.012"/>
    <line fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" x1="136.52" y1="142.042" x2="136.52" y2="112.179"/>
  </svg>

  <h1>Wir steuern Ihren Erfolg</h1>
  <p>Steuerberater & Wirtschaftstreuhänder</p>
  <p>Wien - Salzburg</p>
<% end %>
